<footer class='footer'>
  <small>
    The <a href='https://railstutorial.jp/'>Ruby on Rails Tutorial</a>
    by Aura
  </small>
  <nav>
    <ul>
      <li><%= link_to '私について', '#'%></li>
      <li><%= link_to 'コンタクト', '#'%></li>
      <li><a href='http://news.railstutorial.org/'>ニュース</a></li>
    </ul>
  </nav>
</footer>